.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eaeaea; /* soft white */
  background: linear-gradient(
    135deg,
    #0d0d0d,
    #0d0d0d,
    #343434,
    #444444,
    #808080
  ); /* grey-black gradient */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 0 3rem 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
  z-index: 0;
}

.container::before {
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  top: 20%;
  left: -10%;
  animation: float1 12s infinite alternate ease-in-out;
}

.container::after {
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle at center,
    rgba(200, 200, 200, 0.4),
    transparent
  );
  bottom: 10%;
  right: -15%;
  animation: float2 15s infinite alternate ease-in-out;
}

.content {
  text-align: center;
  padding: 4rem;
  border-radius: 12px;
}

.error-gif {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

.error-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content-header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.error-content-header .four-o-four {
  font-size: 4rem;
  font-weight: 700;
  color: #e9e9e9;
}

.error-content-header .error-message {
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 700;
  color: #e9e9e9;
}

.error-para {
  font-size: 1.6rem;
  color: #e9e9e9;
  line-height: 1.6;
}

.btn-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  /* border: 2px solid #2c3741; */
  color: #e9e9e9;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
  transition: all 3sec ease;
}

.btn-back span {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.btn-back:hover {
  background-color: #e9e9e9;
  color: #2c3741;
  /* border-color: #2c3741; */
}
