.white-theme {
  background-color: #ffffff;
  color: #222;
  padding: 20px;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.team-stats-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.quizzes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 30px;
  justify-content: center;
}

.quiz-dropdown-search {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 30px;
  justify-content: center;
}

.react-select-container {
  width: 100%;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quiz-tab {
  background: #f0f4ff;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 1.2rem;
  /* min-width: 140px; */
  width: 30%;
  text-align: center;
  color: rgb(40, 134, 166);
}

.quiz-tab:hover {
  background-color: #d0e4ff;
}

.quiz-tab.active {
  background-color: #3185fa;
  border-color: #3185fa;
  color: #fff;
}

.team-stats-cont {
  padding: 1rem 2rem;
}

.teams-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  background: #f0f4ff;
  border-radius: 12px;
  border-left: 4px solid #c8d3f0;
  padding: 20px;
  box-shadow: 0 4px 12px #a1c6f9;
  transition: transform 0.2s, box-shadow 0.2s;
}

.team-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.team-name {
  font-size: 1.5rem;
  color: #063e8d;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.rounds-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px 0;
  margin-bottom: 20px;
  overflow: auto;
  overflow-y: hidden;
}

.round-tab {
  min-width: 150px;
  width: 25rem;
  background: #6098e8;
  border-radius: 12px;
  padding: 1rem 2rem;
  flex-shrink: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
  border-left: 4px solid #3c6fb5;
}

.round-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.round-tab:hover {
  transform: translateY(-3px);
}

.round-topic {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: rgb(252, 252, 252);
  padding-bottom: 0.3rem;
  border-bottom: 1px dashed rgb(255, 255, 255);
}

.round-stats span {
  display: block;
  font-size: 0.9rem;
  color: rgb(252, 252, 252);
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 700;
}

.score-bar {
  height: 5px;
  background: linear-gradient(90deg, #55ec82, #00c8ff);
  border-radius: 4px;
  margin-top: 8px;
}

.overall-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e4c33f;
  border-left: 4px solid #c4a93c;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.summary-title {
  color: #ffffff;
  font-weight: 700;
}

.summary-values {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 700;
  font-size: 1.1rem;
}

.summary-values span {
  color: #ffffff;
  min-width: 120px;
}

@media (max-width: 720px) {
  .quiz-tab {
    padding: 12px 20px;
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .quiz-tab {
    padding: 12px 20px;
    font-weight: 700;
    font-size: 0.3rem;
    width: 100%;
  }
}

.time-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 4px;
}

.starter-name {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

.selected-quiz-name {
  color: #30507c;
  font-size: 1.8rem;
}

.played-by-top-box {
  padding: 16px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #3b6cb1;
  margin-bottom: 12px;
  border-left: 4px solid #6098e8;
  color: white;
}

.played-by-top-box h4 {
  margin: 0;
  font-size: 1rem;
}

.played-by-top-box p {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.played-by-top-box .starter-name {
  font-size: 17px;
  margin-top: 5px;
}
