.white-theme {
  background-color: #ffffff;
  color: #222;
  padding: 20px;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.team-stats-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.quizzes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 30px;
  justify-content: center;
}

.quiz-tab {
  background: #f0f4ff;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 1.2rem;
  min-width: 140px;
  text-align: center;
  color: rgb(40, 134, 166);
}

.quiz-tab:hover {
  background-color: #d0e4ff;
}

.quiz-tab.active {
  background-color: #3185fa;
  border-color: #3185fa;
  color: #fff;
}

.teams-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  background: #f0f4ff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
}

.team-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.team-name {
  font-size: 1.5rem;
  color: #063e8d;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.rounds-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px 0;
  margin-bottom: 20px;
  overflow: auto;
  overflow-y: hidden;
}

.round-tab {
  min-width: 150px;
  width: 21rem;
  background: #6098e8;
  border-radius: 12px;
  padding: 1rem 2rem;
  flex-shrink: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
}

.round-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.round-tab:hover {
  transform: translateY(-3px);
}

.round-topic {
  font-weight: 700;
  margin-bottom: 8px;
  color: rgb(252, 252, 252);
  padding-bottom: 0.3rem;
  border-bottom: 1px dashed rgb(255, 255, 255);
}

.round-stats span {
  display: block;
  font-size: 0.9rem;
  color: rgb(252, 252, 252);
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 700;
}

.score-bar {
  height: 5px;
  background: linear-gradient(90deg, #55ec82, #00c8ff);
  border-radius: 4px;
  margin-top: 8px;
}

.overall-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6098e8;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.summary-title {
  color: #ffffff;
  font-weight: 700;
}

.summary-values {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 700;
  font-size: 1.1rem;
}

.summary-values span {
  color: #ffffff;
  min-width: 120px;
}
