.quiz-selector-header {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 2rem 0;
  text-align: center;
  color: #e5e5e1;
  /* text-shadow: 0 0 10px #808080; */
}

.no-quiz-text {
  text-align: center;
  font-size: 1.2rem;
  color: #bbb;
}

.quiz-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.quiz-card {
  background: #1f1f1f;
  border-radius: 1rem;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(240, 240, 240, 0.3);
}

.quiz-card-header {
  padding: 1rem 1.5rem;
  background: linear-gradient(135deg, #444, #222);
  border-bottom: 1px solid #333;
  color: #f3f3f3;
  height: 8rem;
}

.quiz-topic {
  font-size: 1.8rem;
  font-weight: 700;
  color: #dddddd;
}

.quiz-card-body {
  padding: 1rem 1.5rem;
}

.card-topic {
  display: flex;
  gap: 0.5rem;
}

.quiz-rounds,
.quiz-teams {
  margin-top: 0.8rem;
  border-bottom: 1px solid rgb(156, 156, 156);
  height: 8rem;
  overflow: hidden;
  overflow-y: scroll;
}

.quiz-rounds::-webkit-scrollbar,
.quiz-teams::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.quiz-rounds strong,
.quiz-teams strong {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  color: #999999;
}

.quiz-rounds ul,
.quiz-teams ul {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.quiz-rounds li,
.quiz-teams li {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #ddd;
}

.icon {
  font-size: 1.2rem;
  color: #6098e8;
}

@media (max-width: 768px) {
  .quiz-card {
    width: 90%;
  }

  .quiz-selector-header {
    font-size: 2rem;
  }
}
