@font-face {
  font-family: "SuperJoyful";
  src: url("./assets/fonts/superjoyful.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  /* font-family: "SuperJoyful", sans-serif; */
  font-family: "Cabin Sketch", cursive;
}

body {
  font-family: "Cabin Sketch", cursive;
}
